body{
    background: #eee;
  
}
form {

    margin:20px auto;
    width:20%;
    padding:20px;
    background:white;
    text-align:center;
    align-items: center;
    max-width:30%;
}
input{
    margin:20px;
    padding:5px;
}